#top-container{
    border: px solid red;
   
}

#top-container div{
    border: px solid lawngreen;
    text-align: center;
    color: #4B4B4B;
}

#top-container>div:last-child{
    border: px solid chocolate;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

img{
    display: block;
    margin: auto;
    padding: 10%;
}

#top-box{
    border: px solid gold;
    text-align: center;
    background-color: #F8F8F8;
    padding-bottom: 15%;
    line-height: 20px;
    padding-top: 15px;
    color: #4B4B4B;
}
#top-box h1{
    font-size: 50px;
}

#top-box p{
    font-size: 18px;
}

button{
  padding:15px 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
 border: none;
 font-size: 15px;
 margin-top: 20px;
 background-color:#f37e5d;
}

#center-img{
    margin-top: -375px;
    border: px solid red;
}
/* =========================================================================================================================================== */

/* ====================================================================navbar section=============================== */

 #navbar{
    border: px solid darkred;
    display: flex;
    height: 100px;
    width: 100%;

   color: #2F2F2F;
}
 #navbar>div:first-child{
    border: 2px solid red;
    width: 20%;
 }

 #navbar>div>img{
    border: 2px solid green;
    width: 50%;
 }

#navbar>div:last-child{
    border: 2px solid black;
    display: flex;
    width: 78%;
    justify-content: space-between;
}
#navbar>div:last-child>div{
    border: 4px solid red;
    display: flex;
    
    gap: 5%;
    width: 30%;
}