#top-container{
    border: px solid red;
   
}

#top-container div{
    border: px solid lawngreen;
    text-align: center;
}

#top-container>div:last-child{
    border: px solid chocolate;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

img{
    display: block;
    margin: auto;
    padding: 10%;
}

#top-box{
    border: px solid gold;
    text-align: center;
    background-color: grey;
    padding-bottom: 15%;
    line-height: 20px;
    padding-top: 15px;

}

button{
  padding: 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
 border: none;
 margin-top: 20px;
 background-color: lightcoral;
}

#center-img{
    margin-top: -375px;
    border: px solid red;
}
/* =========================================================================================================================================== */

/* ====================================================================navbar section=============================== */

 #navbar{
    border: px solid darkred;
    display: flex;
    height: 100px;
    width: 100%;
   
}
 #navbar div:first-child{
    border: px solid goldenrod;
    width: 15%;
    
}
 #navbar img{
    width: 100%;
    height: 100%;
    margin-left: -40px;
    margin-top: -30px;
 }



 #navbar>div:last-child{
    width: 85%;
    display: flex;
    border: px solid red;
    justify-content: space-between;
 }
 #navbar>div:last-child>div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-left: 10px;
 }
 #navbar>div:last-child>div:first-child{
    border: px solid red;
    width: 30%;
   
 }
 #navbar>div:last-child>div:last-child{
    width: 30%;
 }
 
#btn1{
    background-color: orangered;
    margin-top: -10px;
    padding: 0%;
}

